.container {
  padding: 1.2em;
}

h1 {
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  text-align: center;

  @include breakpoint-up(medium) {
    font-size: 1.5rem;
  }
}

.attribution {
  position: absolute;
  bottom: 1rem;
  right: 0;
  padding: 0 0.5em;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999;

  @include breakpoint-up(small) {
    bottom: 0;
    left: 50%;
    right: unset;
    transform: translateX(-50%);
  }

  & a {
    color: #0078A8;  //so it matches the Leaflet/OpenStreetMap copyright
  }
}