.result {
  position: relative;  //To make sure it goes above the absolutely positioned map
  padding: 1em;
  background: white;
  border-radius: 1em;
  box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 999;

  @include breakpoint-up(medium) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    padding: 2em;
    text-align: left;
  }

  &__section:not(:last-of-type) {
    margin-bottom: 1em;
    
    @include breakpoint-up(medium) {
      position: relative;
      margin-bottom: 0;

      &::after {
        position: absolute;
        content: '';
        right: 0;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: $colourLight;
      }
    }
  }

  &__header {
    color: $colourLight;
    font-size: 0.6rem;
    font-weight: 700;
    letter-spacing: 0.2em;
    line-height: 2;
    text-transform: uppercase;
  }

  &__data {
    font-size: 1.2rem;
    font-weight: 500;

    @include breakpoint-up(medium) {
      font-size: 1.5rem;
    }
  }

}